# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class

# Build files
/build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio files
*.sln
*.db
*.vcxproj
*.opendb
*.filters
*.vs
*.user
/src/Debug
/src/ipch

# Executables
*.exe
*.out
*.app

# Gradle files
.gradle

# Testing
/tests/includes
/tests/build